/* style.css */
body {
    font-family: 'Electrolize', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222; /* Dunkler Hintergrund */
    color: #fff; /* Weiße Textfarbe */
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    animation: slideInDown 3s ease;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img {
    max-height: 50px;
}

header h1 {
    font-size: 2rem;
}



@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loadPage {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

main {
    animation: loadPage 3s ease;
}

main a {
    text-decoration: none;
    color: #1eff00;
}

main a:hover {
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    animation: slideInUp 1s ease;
    text-align: center;
}

/* Entfernen Sie die Aufzählungspunkte aus den Listen */
li {
    list-style-type: none;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #ff4500; /* Orangefarbene Links */
    font-weight: bold;
    transition: color 0.3s ease;
}



nav a:hover {
    color: #fff; /* Weiße Links bei Hover */
}

section {
    padding: 40px;
    text-align: center;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section h2 {
    font-size: 1.5rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    animation: slideInUp 1s ease;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    section {
        padding: 20px;
    }
}

#kenntnisse li {
    margin-bottom: 6px;
}